 @import 'media-queries';
/*una clase para ver las divisiones*/
/*div[class|="col"]
{
    border: 1px solid #ffc107;

}*/
/* ********** ETIQUETAS  ********* */
body
{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
}

section
{
    width: 100%;
    height: 100%;
}

h1
{
    font-family: "LUNATIQUE";
    font-size: 100px;
    color: #fff;
}
h2
{ 
    font-family: "LUNATIQUE";
    font-size: 100px;
    color: #fff;  
 }

 h4
 {
    font-family: "homizio";
    font-size: 70px;
    color: #a70016ff;
    text-align: center;
 }
 h5
 {
    font-family: "homizio";
    font-size: 28px;
 }

 


/* ************* CLASES************* */
.parallax
{
    background-color: #ececec84;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: auto;
}
.opacidadNegra
{
    background-color: #0000005c;
}

.opacidadBlanca
{
    background-color: #ffffff30; 
}
.BoxCenter
{
    padding-top: 24%;
}
.texts
{
    color: white!important;
    font-family: "homizio";
    font-size: 32px!important;
    z-index: -1;
}

.TextUbicacion
{
    width: 72%;
    height: 31%;
    margin-top: -36%;
    margin-left: 13%;

}
.TextUbic
{
    width: 77%;
    height: 31%;
    margin-top: -36%;
    margin-left: 13%;
    padding-top: 11%;
}



.boxUbic
{
    padding-top: 10%;
}
.history
{
    background-color: #ffffff63;
    width: 93%;
    height: 70%;
    margin-top: 24%;
    padding: 3%;
}
.textos
{
    margin-top: 19%;
}
.UbicanosDiv
{
    background-color: #ffffff63;
    width: 100%;
    height:44%;
    margin-top: 69%;
}

/* ****** IDS ******  */
#seccionBienvenida
{
    background-image: url('assets/images/cuchara2.jpg');
    height: auto;
}

#seccionMenu
{
    background-image: url('assets/images/fondo.jpg');
}
#seccionPromos
{
    background-image: url('assets/images/fondo4.jpg');
}
#seccionNosotros
{
    background-image: url('assets/images/nosotros.jpg');
}

#Location
{
    background-color: #0000005c;
    margin-top: 14%;
    width: 100%;
    height: 100%;
}


#seccionUbicanos
{
    background-image: url('assets/images/UbicanosSec.jpg');
}


/*  ************** MEDIA QUERIES **************  */

/* media querie para celular vertical*/
@include respond-to($phone)
{

    .hola
    {}

     #Location
        {
        background-color: #0000005c;
        margin-top: 45%;
        width: 100%;
        height: 100%;
         }

    .boxCenter
        {
            padding: 0%;
        }
    p 
    { 
        font-size: 20px;
    }

    h5
     {
        font-family: "homizio";
        font-size: 17px;
     }

     h4
     {
        font-family: "homizio";
        font-size: 30px;
        color: #a70016ff;
        text-align: center;
     }

    .TextUbicacion
    {
        width: 64%;
        height: 31%;
        margin-top: -41%;
        margin-left: 18%;
    }
    .size
    {
        width: 50%;
        height: auto;
        margin-left: 27%;
    }
    .history
    {
        background-color: #ffffff63;
        width: 93%;
        height: auto;
        margin-top: 0%;
        padding: 3%;
        margin-left: 4%;
    }

}


/* MEDIA QUERIE DE IPAD */
@include respond-to($tablet-landscape)
{

.h{}

     #Location
{
    background-color: #0000005c;
    margin-top: 40%;
    width: 100%;
    height: 100%;
}
    .boxCenter
    {
        margin-top: -16%;
        margin-left: 2%;
    }

.TextUbicacion
{
    width: 69%;
    height: 31%;
    margin-top: -35%;
    margin-left: 18%;
}
.history
{
    background-color: #ffffff63;
    width: 93%;
    height: auto;
    margin-top: 0%;
    padding: 3%;
    margin-left: 4%;
 
}


}





























